@import "tailwindcss";


/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.bounce-in {
  animation: bounce-in 1.4s ease infinite;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* .carousel-container {
  width: 80%;
  margin: 0 auto;
}

.carousel-slide {
  position: relative;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.slick-dots li button:before {
  color: #fff; 
} 


/* my-journey carousel-slide  START*/

.slick-initialized .slick-slide {
  padding: 1rem 0;
}
.center .slick-center .img-s {
  transform: scale(1.3);
  z-index: 10000;
  transition: all 400ms ease-in-out;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.slick-dots li {
  display: none;
}
/* .slick-dots li:nth-child(+n + 4) {
  display: block;
} */


.slick-dots li:nth-child(+n + 4) {
  display: none;
}

.slick-dots {
  justify-content: flex-start;
}

/* my-journey carousel-slide  END*/